.form-container {
    font-family: 'Open Sans Condensed',
        arial,
        sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
}

.form-container h2 {
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed',
        sans-serif;
    color: #f0f0f0;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
    text-align: center;
}

.form-container input[type='text'],
input[type='email'],
[type='password'] {
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial,
        Helvetica,
        sans-serif;
    height: 45px;
}

.form-container input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed',
        sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    width: 50%;
    margin: 20px auto 0 auto;
}

.form-container input[type="submit"]:hover {
    background: linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color: #34CACA;
}

.register,
.register:link,
.register:visited {
    display: block;
    margin: 20px auto 0 auto;
    padding: 0 5px;
    width: 50%;
    text-decoration: none;
    text-align: center;
    color: #4d4d4d;
    transition: all .5s;
}

.register:hover,
.register:active {
    color: #7e7a7a;
}